<h3>방명록 리스트</h3>
<a href="/post/new" style="float:right;display:inline-block;">
    <button>새 글</button>
</a>

	<% if user_signed_in? %>
	  <p>현재 로그인된 유저의 이메일 : <%= current_user.email %></p>
	  <!-- add 17 -->
	  <img src="<%= current_user.profile %>" class="img img-thumbnail" style="width:100px;height:100px;object-fit: cover;">
	  <p><%= link_to "프로필", :controller => "user", :action => "profile" %> </p>
	  <!-- end 17 -->
	  <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
	<% else %>
	  <p><%= link_to "로그인", new_user_session_path %></p>
	<% end %>
	
<ul>
    <% @posts.each do |post| %>
    <li>
        <h4><%=post.id%>, <%=post.title%></h4>
        
    		<% if user_signed_in? %>
    		  <%= link_to '수정', post_modify_path(post) if post.updatable_by? current_user %>&nbsp;
    		  <%= link_to '삭제', post_delete_path(post), data: { confirm: 'Are you sure?' } if post.deletable_by? current_user %>
    		<% end %>
            <!--<a href="/post/modify?id=<%=post.id%>">수정</a>-->
            <!--<a href="/post/delete?id=<%=post.id%>">삭제</a>-->
            <a href="/comment/new?id=<%=post.id%>">댓글</a>
        <hr>
        <%=post.contents%>
        <hr>
        <%=post.author%>, <%=post.created_at.in_time_zone(9).to_formatted_s(:short)  %>
        
        <hr>
        <ol>
        <% post.comments.each do |comment| %>
            <li><%=comment.contents%>, <a href="/comment/delete?id=<%=comment.id%>">X</a></li>
        <% end %>
        </ol>
    </li>
    <% end %>
</ul>